<div class="password-forms-content">

  <!-- TITRE -->
  <div class="title-row">
    <h3>Changer de mot de passe ?</h3>
    <span>( 8 Caractères + 1 Maj minimum / Spéciaux acceptés )</span>
  </div>

  <!-- FORM -->
  <div class="form-container">
    <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
      
      <!-- Mot de passe actuel -->
      <div class="field">
        <label>Mot de passe actuel</label>
        <input 
          type="password" 
          name="currentPassword" 
          [(ngModel)]="passwordData.currentPassword"
          required>
      </div>

      <!-- Nouveau mot de passe -->
      <div class="field">
        <label>Nouveau mot de passe</label>
        <input 
          type="password" 
          name="newPassword" 
          [(ngModel)]="passwordData.newPassword" 
          required 
          minlength="8">
      </div>

      <!-- Confirmation mot de passe -->
      <div class="field">
        <label>Confirmer Mot de passe</label>
        <input 
          type="password" 
          name="confirmPassword" 
          [(ngModel)]="passwordData.confirmPassword"
          required 
          minlength="8">
      </div>

      <!-- Actions -->
      <div class="actions">
        <button type="submit" [disabled]="!isPasswordValid()">
          Changer mot de passe
        </button>
      </div>
      
    </form>
  </div>

  <div class="password-button">
    <button (click)="closePasswordForm()">
      {{ emailForm()'Fermer' }}
    </button>
  </div>

</div>

