<div class="container">

  <div class="header">
    <h1 class="header-title" [class.typing]="!typing()">
      {{ headerTitle() }}
    </h1>

    <div class="back-button">
      <button class="btn" (click)="goBack()">
        <span>← Retour</span>
      </button>
    </div>
  </div>

  <div class="field-title">
    <label>Titre de l'histoire</label>
    <input type="text" [(ngModel)]="storyTitle">
  </div>

  <div class="field-content">
    <label>Contenu</label>
    <textarea [(ngModel)]="storyContent">
    </textarea>
  </div>

  <div class="footer">
    <div class="save-draft-button">
      <button class="btn" (click)="saveToDraft()">
        <span>Sauvegarder</span>
      </button>
    </div>

    <div class="update-button">
      <button class="btn" (click)="update()" [disabled]="!canUpdate()">
        <span>Republier</span>
      </button>
    </div>
  </div>

</div>