@use 'core/variables/variables' as*;
@use 'mixins/utilities/utilities' as*;

//============ NAVBAR BUTTON ============
@mixin navbar-btn {
  @include color-gray;
  @include text-center;
  @include spacing-15-18;
  @include radius-10;
  @include transition-all-300;
  @include font-16;
  @include font-weight-500;
  @include border-box;
  background-color: rgba(93, 136, 158, 0.05);
  border: $border-1 solid rgba(93, 136, 158, 0.2);

  &:hover {
    background-color: rgba(93, 136, 158, 0.15);
    border-color: $blue;
    transform: translateX(3px);
  }

  &.active {
    background-color: rgba(93, 136, 158, 0.15);
    border-color: $blue;
    color: #d0d0d0;
    font-weight: 500;
  }

  &.staff-only {
    margin-top: auto;
  }
}