@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin hidden-scroll {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}