@use 'core/variables/variables' as *;


//============ DISPLAYS ============
@mixin flex {
  display: $flex;
}

@mixin grid {
  display: $grid;
}

@mixin block {
  display: $block;
}

@mixin none {
  display: $none;
}

//============ ALIGMENTS ============
@mixin center {
  display: $flex;
  align-items: $center;
  justify-content: $center;
}

@mixin left {
  display: $flex;
  align-items: $center;
  justify-content: $start;
}

@mixin right {
  display: $flex;
  align-items: $center;
  justify-content: $end;
}

@mixin between {
  display: $flex;
  align-items: $center;
  justify-content: $between;
}

@mixin around {
  display: $flex;
  align-items: $center;
  justify-content: $around;
}

@mixin text-center {
  text-align: center;
}

@mixin text-left {
  text-align: left;
}

//============ FLEX-DIRECTIONS ============
@mixin row {
  display: $flex;
  flex-direction: $row;
}

@mixin column {
  display: $flex;
  flex-direction: $column;
}

//============ POSITIONS ============
@mixin relative {
  position: $relative;
}

@mixin absolute {
  position: $absolute;
}

@mixin fixed {
  position: $fixed;
}

@mixin static {
  position: $static;
}

//============ Z-INDEX ============
@mixin z-index-1 {
  z-index: 1;
}

@mixin z-index-2 {
  z-index: 2;
}

@mixin z-index-3 {
  z-index: 3;
}

@mixin z-index-4 {
  z-index: 4;
}

//============ FLEX PROPERTIES ============
@mixin flex-shrink-0 {
  flex-shrink: 0;
}