@use 'core/variables/variables' as *;

//============ SIZINGS ============
@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin full-viewport {
  width: 100vw;
  height: 100vh;
}

@mixin full-width {
  width: 100%;
}

@mixin full-height {
  height: 100%;
}

//============ MIN DIMENSIONS ============
@mixin min-height-0 {
  min-height: 0;
}

@mixin min-height-viewport {
  min-height: 100vh;
}

//============ HEIGHT AUTO ============
@mixin height-auto {
  height: auto;
}


//============ BOX SIZING ============
@mixin border-box {
  box-sizing: border-box;
}