@use 'core/variables/variables' as *;

//============ SPACINGS ============

@mixin padding-15 {
  padding: $padding-15;
}

@mixin spacing-12 {
  padding: $padding-12;
}

@mixin spacing-16 {
  padding: $padding-16;
}

@mixin spacing-20 {
  padding: $padding-20;
}

@mixin spacing-24 {
  padding: $padding-24;
}

@mixin spacing-30 {
  padding: $padding-30;
}

//============ SPACINGS COMBOS ============
@mixin spacing-12-16 {
  padding: $padding-12 $padding-16;
  gap: $gap-12;
}

@mixin spacing-15-15 {
  padding: $padding-15;
  gap: $gap-15;
}

@mixin spacing-15-18 {
  padding: $padding-15 $padding-18;
}

@mixin spacing-20-20 {
  padding: $padding-20 $padding-20;
  gap: $gap-20;
}

@mixin spacing-30-20 {
  padding: $padding-30 $padding-20;
  gap: $gap-20;
}


//============ GAP ============
@mixin gap-8 {
  gap: $gap-8;
}

@mixin gap-12 {
  gap: $gap-12;
}

@mixin gap-15 {
  gap: $gap-15;
}

@mixin gap16 {
  gap: $gap-16;
}

@mixin gap-20 {
  gap: $gap-20;
}