@use 'core/variables/variables' as *;

//============ SPACINGS ============
@mixin spacing-12 {
  padding: $padding-12;
  gap: $gap-12;
}

@mixin spacing-16 {
  padding: $padding-16;
  gap: $gap-16;
}

@mixin spacing-20 {
  padding: $padding-20;
  gap: $gap-20;
}

@mixin spacing-24 {
  padding: $padding-24;
  gap: $gap-24;
}

@mixin spacing-30 {
  padding: $padding-30;
  gap: $gap-30;
}

//============ SPACINGS COMBOS ============
@mixin spacing-30-20 {
  padding: $padding-30 $padding-20;
  gap: $gap-20;
}

@mixin spacing-20-16 {
  padding: $padding-20 $padding-16;
  gap: $gap-16;
}

@mixin spacing-15-15 {
  padding: 15px;
  gap: 15px;
}

@mixin spacing-12-16 {
  padding: $padding-12 $padding-16;
  gap: $gap-12;
}

//============ SPACINGS ZERO PADDING ============
@mixin spacing-0-20 {
  padding: 0 $padding-20;
  gap: $gap-20;
}

@mixin spacing-0-16 {
  padding: 0 $padding-16;
  gap: $gap-16;
}

@mixin spacing-0-12 {
  padding: 0 $padding-12;
  gap: $gap-12;
}