@use 'content/artefacts/buttons/credentials-button' as *;

.user-credentials-content {
  
  //============ TITLE ============
  
  .title {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-bottom: 30px;
    margin-top: 50px;

    .section-title {
      grid-column: 2;
      color: #5d889e;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      text-align: center;
    }
  }

  //============ BUTTONS ============
  
  .buttons {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-bottom: 40px;
    gap: 20px;

    @include credentials-button;

    .btn {
      grid-column: 2;
    }
  }

  //============ SEPARATOR ============
  
  .separator {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin: 40px 0;

    .line {
      grid-column: 2;
      height: 2px;
      background: linear-gradient(90deg, transparent, #5d889e, transparent);
      border-radius: 1px;
    }
  }

  //============ DELETE SECTION ============
  
  .delete-section {
    display: grid;
    grid-template-columns: 30% 40% 30%;

    @include credentials-button;

    .btn {
      grid-column: 2;
    }
  }
}