<div class="user-credentials-content">

  @if (!showEmail() && !showPassword()) {
    
    <div class="title">
      <h2 class="section-title">Modifier vos informations</h2>
    </div>

    <div class="buttons">
      <button class="action-btn email-btn" (click)="showEmailForm()">
        Change Email
      </button>
      
      <button class="action-btn password-btn" (click)="showPasswordForm()">
        Change Password
      </button>
    </div>

    <div class="separator">
      <div class="line"></div>
    </div>

    <div class="delete-section">
      <button class="action-btn delete-btn" (click)="deleteAccount()">
        Delete Account
      </button>
    </div>

  }

  @if (showEmail()) {
    <app-email-form (goBack)="goBack()"></app-email-form>
  }

  @if (showPassword()) {
    <app-password-forms (goBack)="goBack()"></app-password-forms>
  }

</div>