<div class="credentials-content">


 
  @if (emailForms()) {

  <div class="title">
    <h2>Informations du compte</h2>
  </div>

    <div class="email-section">
      <form (ngSubmit)="saveEmail()" #emailForm="ngForm">
        <div class="field">
          <label>Adresse Email</label>
          <input type="email" name="email" [(ngModel)]="emailData.email" required>
        </div>
        <div class="actions">
          <button type="submit" [disabled]="!isEmailValid()">Modifier l'email</button>
        </div>
      </form>
    </div>

 
    <div class="separateur">
      <div class="line"></div>
    </div>

  
  <div class="password-button">
    <button (click)="showPasswordForm()">
      {{ passwordForms()'Changer de mot de passe'}}
    </button>
  </div>
}

  @if (passwordForms()) {

    <div class="password-section">
      <app-password-forms></app-password-forms>
    </div>
  }

</div>