@use 'core/variables/contexts' as *;
@use 'core/variables/typography' as *;

//============ HEADER TITLE ============
@mixin header-title($context: $header-title-chroniques) {
  font-size: map-get($context, size);
  font-weight: $font-weight-700;
  color: map-get($context, color);
  margin: 0 0 10px 0;
  
  &::before {
    content: '> ';
    color: map-get($context, prompt);
  }
  
  &::after {
    content: '|';
    color: map-get($context, prompt);
    animation: blink 1s infinite;
    margin-left: 2px;
  }
}