@if (storyData.value(); as data) {
<div class="container">
  <div class="story-card">
    <div class="header">
      <div class="header-content">
        <div class="avatar" [style.background-image]="avatarUrl()"></div>
        <div class="info">
          <div class="username">{{ data.story.user.username }}</div>
          <div class="user-description">{{ data.story.user.description }}</div>
        </div>
      </div>
      <div class="like-section">
        <button class="like-btn" (click)="toggleLike()" [disabled]="!canLike()">
            <span class="heart-icon" [class.liked]="data.story.isliked">
            {{ data.story.isliked ? '♥' : '♡' }}
          </span>
        </button>
        <span class="likes-count">{{ data.story.likes }}</span>
      </div>
    </div>

    <div class="card-separator"></div>

    <div class="title">
      <h1>{{ data.story.title }}</h1>
      <div class="date">
        <p>{{ data.story.publishDate }}</p>
      </div>
    </div>

    <div class="content">
      <div class="text">{{ data.story.content }}</div>
    </div>

    <div class="card-separator"></div>

    <div class="card-footer">
      <button class="btn" [disabled]="!data.hasPrevious" (click)="goToPreviousStory()">
        <span class="nav-arrow">←</span>
        <span>Histoire précédente</span>
      </button>

      <button class="btn" [disabled]="!data.hasNext" (click)="goToNextStory()">
        <span class="nav-text">Histoire suivante</span>
        <span class="nav-arrow">→</span>
      </button>
    </div>

  </div>
</div>
}