//============ COULEURS DE BASE ============
$blue: #5d889e;
$orange: #b55a44;
$green: #2ecc71;
$red: #e74c3c;
$black: #121416;
$gray: #d0d0d0;
$white: #ffffff;
$yellow: #ddf312;
$earth: #8b4513;

//============ BACKGROUNDS ============
$bg-dark: #121416;
$bg-gray-dark: #1a1d20;
$bg-gray: #2a2d30;

//============ STATES ============
$success: #2ecc71;
$error: #e74c3c;
$warning: #f39c12;
$like: #dc143c;

//============ HOVERS ============
$hover-color-white: #ffffff;
$hover-color-orange: #b55a44;