//============ COLORS ============
$blue: #5d889e;
$orange: #b55a44;
$green: #2ecc71;
$red: #e74c3c;
$black: #121416;
$gray: #d0d0d0;
$white: #ffffff;
$yellow: #ddf312;
$earth: #8b4513;

$transparent: rgba(0, 0, 0, 0);


//============ COLORS LIGHT ============
$blue-01: rgba(93, 136, 158, 0.1);
$blue-02: rgba(93, 136, 158, 0.2);
$blue-03: rgba(93, 136, 158, 0.3);
$blue-05: rgba(93, 136, 158, 0.5);


$orange-01: rgba(181, 90, 68, 0.1);


//============ BACKGROUNDS ============
$bg-dark: #121416;
$bg-gray-dark: #1a1d20;
$bg-gray: #2a2d30;

//============ STATES ============
$success: #2ecc71;
$error: #e74c3c;
$warning: #f39c12;
$like: #dc143c;

//============ HOVERS ============
$hover-white: #ffffff;
$hover-orange: #b55a44;