@use 'sizing' as *;
@use 'borders' as *;
@use 'typography' as *;
@use 'colors' as *;

//============ AVATAR CONTEXT ============
$avatar-small: (size: $avatar-small-size, border: $border-2);
$avatar-medium: (size: $avatar-medium-size, border: $border-2);  
$avatar-large: (size: $avatar-large-size, border: $border-2);

//============ USERNAME CONTEXT ============
$username-default: (size: $font-size-18, color: $blue);
$username-console: (size: $font-size-14, color: $gray);
$username-profile: (size: $font-size-24, color: $white);

//============ USER DESCRIPTION CONTEXT ============
$description-default: (size: $font-size-12, color: $gray);
$description-console: (size: $font-size-10, color: $gray);
$description-profile: (size: $font-size-14, color: $gray);

//============ STORY TITLE CONTEXT ============
$story-card-title: (size: $font-size-16, color: $white);
$story-detail-title: (size: $font-size-24, color: $white);
$story-board-title: (size: $font-size-20, color: $white);

//============ HEADER TITLE CONTEXT ============
$chroniques-title: (size: $font-size-32, color: $blue, prompt: $orange);
$archives-title: (size: $font-size-32, color: $gray, prompt: $yellow);
$terraformars-title: (size: $font-size-32, color: $gray, prompt: $earth);