//============ DISPLAYS ============
$flex: flex;
$grid: grid;
$block: block;
$none: none;

//============ ALIGNMENTS ============
$center: center;
$start: flex-start;
$end: flex-end;
$between: space-between;
$around: space-around;

//============ POSITIONS ============
$relative: relative;
$absolute: absolute;
$fixed: fixed;
$static: static;

//============ FLEX-DIRECTIONS ============
$row: row;
$column: column;