//============ DISPLAY ============
$flex: flex;
$grid: grid;
$block: block;
$none: none;

//============ POSITIONS ============
$center: center;
$start: flex-start;
$end: flex-end;
$between: space-between;
$around: space-around;

//============ FLEX-DIRECTION ============
$row: row;
$column: column;
