//============ DISPLAY ============
$display-flex: flex;
$display-grid: grid;
$display-block: block;
$display-none: none;

//============ ALIGN-ITEMS ============
$align-center: center;
$align-start: flex-start;
$align-end: flex-end;

//============ JUSTIFY-CONTENT ============
$justify-center: center;
$justify-between: space-between;
$justify-around: space-around;

//============ FLEX-DIRECTION ============
$flex-row: row;
$flex-column: column;



