//============ AVATAR SIZES ============
$avatar-small: 35px;
$avatar-medium: 50px;
$avatar-large: 80px;

//============ HEIGHTS ============
$height-32: 32px;
$height-40: 40px;
$height-48: 48px;
$height-60: 60px;
$height-80: 80px;

//============ WIDTHS ============
$story-card-width: 320px;   


//============ FULL ============
$height-full:100vh;
$width-full: 100vw;

