<div class="content-container">

  <div class="marsball-grid">
    @for (category of categories(); track category.id) {
      <div class="category-card"
           [class.selected]="isSelected(category.id)"
           (click)="onCardClick(category)">
        <div class="card">
          <span class="category-title">{{ category.title }}</span>

          @if (isAdmin()) {
          <button
            class="delete-cross"
            [class.active]="isSelected(category.id)"
            (click)="$event.stopPropagation(); toggleSelection(category.id)">
            ✕
          </button>
          }
        </div>
      </div>
    }
  </div>

</div>