@mixin marsball-category-card {
  .category-card {
    cursor: pointer;

    .card {
      background-color: #1a1d20;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 160px;
      position: relative;
      transition: all 0.3s ease;
      border-radius: 16px;
      border: 2px solid #5d889e;

      &:hover {
        border-color: #d0d0d0;
      }

      .category-title {
        color: #d0d0d0;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding: 0 20px;
      }
    }
  }
}