@use 'core/variables/contexts' as *;
@use 'core/variables/typography' as *;

//============ STORY TITLE ============
@mixin story-title($context: $story-card-title) {
  font-weight: $font-weight-700;
  text-align: center;
  font-size: map-get($context, size);
  color: map-get($context, color);
}