<div class="main-container">
  
  <!-- HEADER TITRE -->
  <div class="main-header">
    <h2 class="header-title" [class.typing-complete]="typingComplete()">
      {{ headerTitle() }}
    </h2>
  </div>

  <!-- DESCRIPTION -->
  <div class="main-description">
    <p>Des terraformers vous racontent les histoires de leurs vies sur Mars.</p>
    <p>Des génies ou des fous, des contes à dormir debout.</p>
  </div>

  <!-- CONTENU -->
  <div class="main-content">
    @if (users().length > 0) {
      <div class="chroniques-grid">
        @for (user of users(); track user.id) {
          <app-story-card [user]="user"></app-story-card>
        }
      </div>
    }
  </div>
</div>