@use 'content/artefacts/buttons/button' as *;
@use 'content/artefacts/typing-effect/typing-effect' as *;

.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;
  pointer-events: none;
  position: relative;

  * {
    pointer-events: auto;
  }
}

.title {
  position: absolute;
  top: 45px;
  left: 190px;
  color: #d0d0d0;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin: 0;
  white-space: nowrap;
  max-width: 25.5ch;
  overflow: hidden;
  @include typing-effect;

  &.no-cursor::after {
    display: none;
  }

  &.scrolling::before {
    display: none;
  }
}

.back-wrapper {
  @include button;
  padding-top: 70px;
  padding-left: 80px;
}
