<div class="terminal-panel">
  <div class="terminal-header">
    <span class="terminal-title">TERMINAL</span>
  </div>
  
  <div class="terminal-screen">
    <div class="terminal-content" #terminalContent>
      @for (line of terminalLines; track $index) {
        <div class="command-line">
          <span class="text" [ngClass]="line.type">{{line.content}}</span>
          <!-- Curseur seulement sur la dernière ligne de commande en attente -->
          @if ($index === terminalLines.length - 1 && line.type === 'command' && !isTyping && showCursor) {
            <span class="cursor">█</span>
          }
        </div>
      }
    </div>
  </div>
</div>