@use 'content/artefacts/typing-effect/typing-effect' as *;
@use 'content/artefacts/buttons/button' as *;

.container {
  padding: 0;
  background-color: #121416;
  color: #d0d0d0;
  font-family: 'Courier New', monospace;
  height: 100%;
  display: flex;
  flex-direction: column;

}

//============ HEADER ============

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .header-title {
    font-size: 32px;
    font-weight: 700;
    color: #5d889e;
    margin: 0;

    @include typing-effect;
  }

  .back-button {
    @include button;
  }
}

//============ SEPARATOR ============

.separator {
  text-align: center;

  .line {
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #5d889e, transparent);
    margin: 0 auto;
    border-radius: 1px;
  }
}

// ============ CONTENT ============
.content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 30px;

  &::-webkit-scrollbar {
    display: none;
  }
}

// ============ EDITOR ============

.editor {
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .field-title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      color: #5d889e;
      font-weight: 700;
      font-size: 16px;
    }

    input {
      background-color: #121416;
      border: 2px solid #5d889e;
      border-radius: 6px;
      padding: 12px 15px;
      color: #d0d0d0;
      font-family: inherit;
      font-size: 16px;
    }
  }

  .field-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;

    label {
      color: #5d889e;
      font-weight: 700;
      font-size: 16px;
    }

    textarea {
      background-color: #121416;
      border: 2px solid #5d889e;
      border-radius: 6px;
      padding: 15px;
      color: #d0d0d0;
      font-family: inherit;
      font-size: 16px;
      flex: 1;
      resize: none;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete-button {
      @include button;

      .cancel-btn {
        border-color: crimson;
        color: crimson;

        &:hover {
          color: #d0d0d0;
          border-color: #d0d0d0;
        }
      }

      .delete-btn {
        border-color: crimson;
        color: crimson;

        &:hover {
          color: #d0d0d0;
          border-color: #d0d0d0;
        }
      }
    }

    .publish-button {
      @include button;
    }
  }
}