<div class="container">

  <div class="header">
    <h1 class="header-title" [class.typing]="!typing()">
      {{ headerTitle() }}
    </h1>

    <div class="back-button">
      <button class="btn" (click)="goBack()">
        <span>← Retour</span>
      </button>
    </div>
  </div>

  <div class="field-title">
    <label>Titre de l'histoire</label>
    <input type="text" [(ngModel)]="storyTitle">
  </div>

  <div class="field-content">
    <label>Contenu</label>
    <textarea [(ngModel)]="storyContent">
    </textarea>
  </div>

  <div class="footer">
    <div class="delete-button">
      <button class="btn" (click)="deleteStory()">
        <span>Annuler</span>
      </button>
    </div>

    <div class="publish-button">
      <button class="btn" (click)="publishStory()">
        <span>Publier</span>
      </button>
    </div>
  </div>

</div>