<div class="container">

  <div class="header">
    <h1 class="header-title">// Chroniques</h1>
  </div>

  <div class="description">
    <p>Ici, tu peux découvrir des histoires captivantes, partager tes propres récits et plonger dans un univers où l'imagination n'a pas de limites.</p>
  </div>

  <div class="content">
    @if (storyCards().length > 0) {
      <div class="chroniques-grid">
        @for (storyCard of storyCards(); track storyCard.id) {
          <div class="story-card" (click)="onStoryCardClick(storyCard)">
            <div class="avatar" [style.background-image]="avatarBackground(storyCard)"></div>
            <div class="user-data">
              <div class="username">{{ storyCard.user.username }}</div>
            </div>
            <div class="story-data">
              <div class="story-title">{{ storyCard.title }}</div>
              <div class="story-date">{{ storyCard.publishDate | date:'dd/MM/yyyy' }}</div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
