@use 'core/variables/spacing' as *;
@use 'mixins/utilities/responsive/responsive' as *;

//============ GRIDS============
@mixin grids{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  @include tablet-landscape {
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-20;
  }

  @include tablet-portrait {
    grid-template-columns: 1fr;
    gap: $gap-20;
  }
  
  @include mobile {
    grid-template-columns: 1fr;
    gap: $gap-16;
  }
}