@use 'core/variables/variables' as *;

//============ BACKGROUND 0 ============
@mixin background-0 {
  background-color: $transparent;
}


//============ BACKGROUND 1 ============
@mixin background-1 {
  background-color: $bg-dark;
}

//============ BACKGROUND 2 ============
@mixin background-2 {
  background-color: $bg-gray-dark;
}

