@use 'navbar/logo' as *;
@use 'navbar/hamburger' as *;

.navbar-container {
  width: 100%;
  height: 100%;
  background-color: #0a0c0e;
  border-radius: 15px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6);
  border: 2px solid #5d889e;
  box-sizing: border-box;
  
  @include logo;      
  @include hamburger; 
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;

  .search-container {
    margin-bottom: 35px;
  }

  .menu-btn.staff-only {
    margin-top: auto;
  }
}

.menu-btn {
  color: #d0d0d0;
  text-decoration: none;
  text-align: center;
  padding: 15px 18px;
  border-radius: 10px;
  transition: all 0.3s ease;
  border-left: 4px solid transparent;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(93, 136, 158, 0.05);
  border: 1px solid rgba(93, 136, 158, 0.2);

  &:hover {
    background-color: rgba(93, 136, 158, 0.15);
    border-left-color: #5d889e;
    transform: translateX(3px);
    border-color: #5d889e;
  }

  &.active {
    background-color: rgba(93, 136, 158, 0.15);
    border-left-color: #5d889e;
    color: #d0d0d0;
    border-color: #5d889e;
    font-weight: 500;
  }

  &.staff-only {
    background-color: rgba(93, 136, 158, 0.05);
    border: 1px solid rgba(93, 136, 158, 0.2);
    color: #d0d0d0;

    &:hover {
      background-color: rgba(93, 136, 158, 0.15);
      border-color: #5d889e;
    }
  }
}