<div class="container">

  <div class="header">
    <h2 class="header-title" [class.typing]="typing()">
      {{ headerTitle() }}
    </h2>
  </div>

  <div class="separator">
    <div class="line"></div>
  </div>

  <div class="content">
    <div class="content-grid">
      @for (category of categories(); track category.id) {
        <div class="button" (click)="onCategoryClick(category)">
          <button class="btn">
            <div class="title">{{ category.title }}</div>
          </button>
        </div>
      }
    </div>
  </div>
</div>