<div class="container">

  <div class="header">
    <h2 class="header-title" [class.typing]="typing()">
      {{ headerTitle() }}
    </h2>
  </div>

  <div class="separator">
    <div class="line"></div>
  </div>

  <div class="content">
    @if (category.value()) {
      <div class="content-grid">
        @for (list of category.value()!.lists; track list.id) {
          <div class="card" (click)="goToList(list.id)">
            <div class="card-title">{{ list.title }}</div>
          </div>
        }
      </div>
    }
  </div>

</div>