@use 'content/chroniques/story-card-responsive' as *;

//============ STORY CARD PUBLIC ============
.story-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0a0c0e;
  border: 2px solid #5d889e;
  border-radius: 12px;
  cursor: pointer;
  transition: border-color 0.3s ease;


  &:hover {
    border-color: #d0d0d0;

    .avatar {
      border-color: #d0d0d0;
    }
  }

  @include story-card-responsive;

  .avatar {
    border-radius: 50%;
    border: 2px solid #5d889e;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease;

  }

  .user-data .username {
    font-weight: 700;
    text-align: center;
    color: #5d889e;
  }

  .story-data {
    display: flex;
    flex-direction: column;

    .story-title {
      font-weight: 700;
      text-align: center;
      color: #d0d0d0;
    }

    .story-date {
      font-weight: 400;
      text-align: center;
      color: #5d889e;
    }
  }
}

//============ STORY CARD PRIVATE ============
.story-card-private {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1d20;
  border: 2px solid #5d889e;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 140px;

  &:hover {
    border-color: #d0d0d0;
  }

  @include story-card-responsive;


  .story-title {
    font-weight: 700;
    text-align: center;
    color: #d0d0d0;
  }

  .story-date {
    font-weight: 400;
    text-align: center;
    color: #5d889e;
  }
}