@use 'core/variables/variables' as *;

//============ TYPING EFFECT ============
@mixin typing-effect($context-title) {
  &::before {
    content: '> ';
    color: map-get($context-title, prompt);
    font-weight: $font-weight-700;
  }
  
  &::after {
    content: '|';
    color: map-get($context-title, prompt);
    animation: blink 1s infinite;
    margin-left: -20px;
  }

  &.typing-complete {
    &::after {
      animation: blink-and-hide 1s 4 forwards;
    }
  }
}

//============ ANIMATIONS ============
@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

@keyframes blink-and-hide {
  0%, 50% { opacity: 1; }
  51%, 99% { opacity: 0; }
  100% { opacity: 0; }
}