@use 'core/variables/contexts' as *;
@use 'core/variables/colors' as *;
@use 'core/variables/typography' as *;

//============ TERMINAL PROMPT ============
@mixin terminal-prompt($color: $orange) {
  &::before {
    content: '> ';
    color: $color;
    font-weight: $font-weight-700;
  }
}

//============ TYPING CURSOR ============
@mixin typing-cursor($color: $orange) {
  &::after {
    content: '|';
    color: $color;
    animation: blink 1s infinite;
    margin-left: 2px;
  }
}

