  <div class="container">
    <div class="content-grid">
      @for (story of publishedStories(); track story.id) {
      <div class="card" [class.selected]="isSelectedStory(story.id)" (click)="onCardClick(story)">
        <div class="story-title">{{ story.title }}</div>
        <div class="story-date">{{ story.date }}</div>
        <div class="story-likes">{{ story.likes }}</div>
        <input type="checkbox" class="delete-checkbox" [checked]="isSelectedStory(story.id)"
          (click)="onCheckboxClick($event, story.id)">
      </div>
      }
    </div>
  </div>