@use 'content/artefacts/typing-effect/typing-effect' as *;
@use 'content/artefacts/buttons/button' as *;

.container {
  padding: 0;
  background-color: #121416;
  color: #d0d0d0;
  font-family: 'Courier New', monospace;
  height: 100%;
  display: flex;
  flex-direction: column;
}

//============ HEADER ============

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .header-title {
    font-size: 32px;
    font-weight: 700;
    color: #5d889e;
    margin: 0;

    @include typing-effect;
  }

  .back-button {
    @include button;
  }

  .delete-button {
    @include button;

    .btn {
      border-color: crimson;
      color: crimson;

      &:hover {
        color: #d0d0d0;
        border-color: #d0d0d0;
      }
    }
  }
}

//============ SEPARATOR ============

.separator {
  text-align: center;

  .line {
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #5d889e, transparent);
    margin: 0 auto;
    border-radius: 1px;
  }
}

//============ CONTENT ============

.content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 30px;

  &::-webkit-scrollbar {
    display: none;
  }
}

//============ GRIDS ============

.content-grid {
  display: grid;
  align-items: center;
  gap: 30px;
  justify-items: center;

  grid-template-columns: repeat(3, 1fr);

  &:has(button) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
  }
}

//============ STORY CARDS ============

.publisged-card {
  
  .card {
    background-color: #1a1d20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 280px;
    height: 160px;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 16px;
    border: 2px solid #5d889e;
    gap: 15px;


    &:hover:not(.selected) {
      transform: translateY(-2px);
    }

    &.selected {
      border-color: crimson;
      background-color: transparent;

      .story-title {
        color: crimson;
      }

      .story-date {
        color: crimson;
      }
    }

    .story-title {
      color: #d0d0d0;
      font-size: 18px;
      font-weight: 700;
    }

    .story-date {
      color: #5d889e;
      font-size: 14px;
      font-weight: 400;
    }

    .story-likes {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 10px;

      .heart-icon {
        color: #b55a44;
        font-size: 16px;
        font-weight: bold;
      }

      .likes-count {
        color: #5d889e;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .delete-checkbox {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 20px;
      bottom: 15px;
      right: 15px;
      accent-color: crimson;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}