// ============ BACK BUTTON ============
@mixin button {
    padding: 0px 40px;
    flex-shrink: 0;

    .btn {
        background: transparent;
        border: 2px solid #5d889e;
        border-radius: 6px;
        padding: 10px 30px;
        color: #5d889e;
        font-family: inherit;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 45px;
        width: 180px;

        &:hover {
            color: #d0d0d0;
            border-color: #d0d0d0;            
        }
    }
}