// ============ BACK BUTTON ============
@mixin button {
    padding: 0px 40px;
    flex-shrink: 0;

    .btn {
        background: transparent;
        border: 1px solid rgba(150, 128, 75, 0.4);
        border-radius: 0;
        padding: 10px 30px;
        color: #96804b;
        font-family: inherit;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 45px;
        width: 180px;

        &:hover {
            color: #bfa55e;
            border-color: #96804b;
        }
    }
}