@mixin credentials-button {
  .btn {
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      transform: none;
    }

    &.blue {
      background: #5d889e;
      color: #121416;
      
      &:hover:not(:disabled) {
        background: #50e4a6;
      }
    }

    &.orange {
      background: #b55a44;
      color: #121416;
      
      &:hover:not(:disabled) {
        background: #c46650;
      }
    }
  }
}