<div class="terminal-title">// TERMINAL</div>

<div class="terminal-panel">

  <div class="terminal-screen">
    <div class="terminal-content" #terminalContent>
      @for (line of terminalLines(); track $index) {
        <div class="command-line">
          <span class="text" [class]="line.type">{{line.content}}</span>
          @if ($index === terminalLines().length - 1 && line.type === 'command' && !isTyping() && showCursor()) {
            <span class="cursor">█</span>
          }
        </div>
      }
    </div>
  </div>
</div>