//============ STORY CARD RESPONSIVE ============

@mixin story-card-responsive {
  
  width: clamp(220px, 25vw, 320px);
  height: clamp(140px, 18vw, 240px);
  gap: clamp(8px, 1.2vw, 15px);
  
  .avatar {
    width: clamp(50px, 6vw, 90px);
    height: clamp(50px, 6vw, 90px);
    
    &::after {
      font-size: clamp(14px, 1.5vw, 20px);
    }
  }
  
  .username {
    font-size: clamp(14px, 1.3vw, 18px);
  }
  
  .story-title {
    font-size: clamp(12px, 1.1vw, 16px);
  }
  
  .story-date {
    font-size: clamp(11px, 1vw, 15px);
  }
  
  .story-data {
    gap: clamp(4px, 0.6vw, 8px);
  }
}