@if (isAcces()) {
  <router-outlet></router-outlet>
} @else {
  <div class="layout">
    <app-logo class="logo-cell"></app-logo>
    <app-navbar class="navbar-cell"></app-navbar>
    <app-left-panel class="left-cell"></app-left-panel>
    <main class="content-cell">
      <router-outlet></router-outlet>
    </main>
  </div>
}

<app-confirmation-dialog></app-confirmation-dialog>
<app-create-category></app-create-category>
<app-new-marsball-item></app-new-marsball-item>
<app-new-bestiaire-creature></app-new-bestiaire-creature>
<app-new-rover-item></app-new-rover-item>
