<div class="main-container">
  <div class="navbar-zone">
    <app-navbar></app-navbar>
  </div>
  
  <div class="content-zone">
    <router-outlet></router-outlet>
  </div>
  
  <div class="panels-zone">
    <app-console-v3></app-console-v3>
    <app-terminal></app-terminal>
  </div>
</div>

<app-confirmation-dialog></app-confirmation-dialog>
<app-create-category></app-create-category>
<app-new-marsball-item></app-new-marsball-item>
<app-new-bestiaire-creature></app-new-bestiaire-creature>
<app-new-rover-item></app-new-rover-item>