<div class="container">
  
  <div class="header">
    <h2 class="header-title" [class.typing]="typing()">
      {{ headerTitle() }}
    </h2>
  </div>

  <div class="description">
    <p>Ici, tu peux découvrir des histoires captivantes, partager tes propres récits et plonger dans un univers où l'imagination n a pas de limites.</p>
  </div>

  <div class="content">
    @if (storyCards().length > 0) {
      <div class="chroniques-grid">
        @for (storyCard of storyCards(); track storyCard.id) {
          <app-story-card 
            [story]="storyCard"
            (cardClick)="onStoryCardClick(storyCard)">
          </app-story-card>
        }
      </div>
    }
  </div>
</div>