//============ MIXIN MAIN LAYOUT ============
@mixin main-layout {
  // ============ DESKTOP ============
  display: grid;
  grid-template-columns: 365px 1fr;
  grid-template-areas: "navbar content";

  // ============ TABLETTE LANDSCAPE ============
  @media (orientation: landscape) and (max-width: 1366px){
    grid-template-columns: 365px 1fr;
  }

  @media (orientation: landscape) and (max-width: 1180px){
    grid-template-columns: 365px 1fr;
  }

  @media (orientation: landscape) and (max-width: 1024px){
    grid-template-columns: 365px 1fr;
  }

  // ============ MOBILE LARGE LANDSCAPE ============
  @media (orientation: landscape) and (max-width: 932px) {
    grid-template-columns: 365px 1fr;
  }

  // ============ TABLETTE PORTRAIT + MOBILE ============
  @media (orientation: portrait) and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "content";
    grid-template-rows: auto 1fr;
    padding: 15px;
    gap: 15px;
  }
}