@use 'core/variables' as *;


// ============ AVATAR SMALL ============
@mixin avatar-small {
  width: $avatar-small;
  height: $avatar-small;
  border-radius: $radius-50;
  border: $border-2 solid $blue;
  background-color: $bg-gray-dark;
  background-size: cover;
  background-position: center;
  margin: 0 auto $margin-16;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &::after {
    content: '👤';
    font-size: $font-size-20;
    opacity: 0.5;
  }
  
  &[style*="url"] {
    &::after {
      display: none;
    }
  }
}