@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid $border-color;
  padding: 20px;
  overflow: hidden;
  min-height: 0;
}

.elena {
  flex-shrink: 0;
}

.terminal {
  flex: 1;
  min-height: 0;
  margin-top: auto;
}
