* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
  border: 1px solid yellowgreen;
  box-sizing: border-box;
  margin-top: 100px;
}

.left-section {
 
  width: 50%;
  border: 1px solid yellowgreen;

}

.card {
  text-align: center;
  border: 5px solid #2c3236;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  color: orange;
}

.img {
  max-width: 100%;
  height: auto;
  border: 5px solid #2c3236;
  border-radius: 40px;
  margin-bottom: 30px;
}

table {
  table-layout:auto;
  font-size: 1.1rem;
  margin: auto;
}

td,th {
  padding: 5px;
  vertical-align: text-top;
  text-align: left;
}

th {
  color: #657681;
  font-weight: bold;
  width: 30%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 3px 0;
}

.right-section {
  border: 1px solid yellowgreen;
  width: 50%;
  
  
}

.text {
  
  text-align: center;
  height: 500px;
  width: 70%;
  font-size: 1.4rem;
  border: 10px solid #2c3236;
  background-image: url(/images/TextBackground2.png);
  background-size: cover;
  background-position: center; 
  backdrop-filter: blur(5px);
  margin: auto;
}




