@use 'core/variables/variables' as *;
@use 'mixins/interface/backgrounds/backgrounds' as *;
@use 'mixins/interface/borders/borders' as *;
@use 'mixins/interface/effects/effects' as *;

//============ STORY CARD BASE ============
@mixin story-card-base {
  @include background-2;
  @include border-blue;
  border-radius: $radius-12;
  padding: $padding-24;
  width: 100%;
  max-width: $story-card-width;
  text-align: center;
  transition: $transition-0_3s;
  cursor: pointer;
  
  &:hover {
    @include hover-white;
  }
}