@use 'core/variables/variables' as *;
@use 'mixins/interface/backgrounds/backgrounds' as *;
@use 'mixins/interface/borders/borders' as *;
@use 'mixins/interface/effects/effects' as *;

//============ STORY CARD BASE ============
@mixin story-card-base {
  @include background-2;
  @include border-blue;
  border-radius: $radius-12;
  width: $story-card-width;
  height: $story-card-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 24px;
  transition: $transition-0_3s;
  cursor: pointer;
  
  &:hover {
    border-color: rgba(180, 178, 29, 0.863);
  }
}