@use 'core/variables/variables' as *;
@use 'mixins/utilities/responsive/responsive' as *;
@use 'mixins/interface/effects/typing-effect' as *;

//============ MAIN HEADER TITLE ============
@mixin main-header-title($context-title) {
  font-size: map-get($context-title, size);
  font-weight: $font-weight-700;
  color: map-get($context-title, color);
  margin: 0 0 10px 0;
  text-align: start;
  width: 100%;
  
  @include tablet-landscape {
    font-size: $font-size-28;
  }

  @include tablet-portrait {
    font-size: $font-size-24;
  }

  @include mobile {
    font-size: $font-size-20;
  }
  
  @include typing-effect($context-title);
}