@use 'core/variables/variables' as *;

//============ MAIN CONTENT ============
@mixin main-content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: $none;
  -ms-overflow-style: $none;

  &::-webkit-scrollbar {
    display: $none;
  }

}
