@use 'core/variables/variables' as *;

//============ USER DESCRIPTION ============
@mixin user-description($context) {
  font-weight: $font-weight-400;
  text-align: center;
  font-style: italic;
  font-size: map-get($context, size);
  color: map-get($context, color);
}