@use 'variables' as *;
@use 'content/artefacts/scrollbar/scrollbar' as *;
@use 'content/artefacts/tooltip/tooltip' as *;

:host {
  display: block;
  flex: 1;
  min-height: 0;
}

.story-list {
  display: flex;
  flex-direction: column;

  gap: $gap-sm;

  padding: 32px;

  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  @include hidden-scrollbar;
}

.story-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;

  border: 1px solid $gold-dim;

  cursor: pointer;

  background: transparent;

  &:hover {
    border-color: $gold;
    color: $gold;
  }

  &.active {
    border-color: $gold;

    background: transparent;

    color: $gold;

    box-shadow: inset 0 0 0 1px $gold;
  }
}

.story-info {
  flex: 1;

  display: flex;
  flex-direction: column;

  gap: 12px;

  .story-title-row {
    display: flex;
    align-items: center;

    gap: 6px;

    height: 20px;
  }

  .story-title {
    font-size: 16px;

    font-weight: 500;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    max-width: 250px;
  }

  .revision-star {
    color: $gold;

    font-size: 18px;

    font-weight: 700;

    @include tooltip;

    &:hover::after {
      position: fixed;

      right: auto;
      left: auto;
      bottom: auto;

      transform: translateY(calc(-100% - 8px));

      z-index: 1000;
    }
  }
}

.story-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 20px;

  .story-date {
    font-size: 15px;

    color: $text-dim;
  }

  .story-likes {
    display: flex;
    align-items: center;

    gap: 5px;

    font-size: 15px;

    .icon {
      color: $gold;
    }
  }
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  color: $gold-dim;

  font-style: italic;

  font-size: 15px;
}