@mixin crop-box {

  .crop-box {
    position: absolute;
    border: 3px solid darkorange;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    pointer-events: none;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(255, 140, 0, 0.1);
    }
  }
}
