@use 'shared/styles/index' as *;
@use '@fontsource/ibm-plex-mono/400.css' as *;
@use '@fontsource/ibm-plex-mono/400-italic.css' as *;
@use '@fontsource/ibm-plex-mono/600.css' as *;
@use '@fontsource/ibm-plex-mono/700.css' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, select, textarea {
  font-family: inherit;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'IBM Plex Mono', 'Courier New', monospace;
  background-color: #000000;
}

app-root {
  display: block;
  height: 100vh;
  width: 100vw;
}

.content-zone > router-outlet + * {
  position: relative;
  z-index: 10;
}

