@use 'core/variables' as *;



@mixin avatar-small {
  .avatar-small {
    width: $size;
    height: $size;
    border-radius: $border-radius-full;
    background-size: cover;
    background-position: center;
    background-color: $bg-secondary;
    margin: 0 auto 1rem;
    transition: transform $transition-normal;
    border: 2px solid $border-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    

    &[style*="url"] {
      &::after {
        display: none;
      }
    }
  }
}