@use 'content/artefacts/delete-cross/delete-cross' as *;
@use 'content/artefacts/breadcrumb/breadcrumb' as *;
@use 'content/marsball/marsball-category-card' as *;
@use 'content/marsball/marsball-grid' as *;

@include breadcrumb;

.breadcrumb {
  margin-bottom: 18px;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 30px;
  padding-top: 170px;
  scrollbar-width: thin;
  scrollbar-color: rgba(93, 136, 158, 0.3) transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(93, 136, 158, 0.3);
    border-radius: 3px;

    &:hover {
      background: rgba(93, 136, 158, 0.6);
    }
  }
}

@include marsball-grid;
@include marsball-category-card;

.category-card {
  .card {
    position: relative;

    @include delete-cross;

    .delete-cross {
      top: 8px;
      right: 8px;
    }
  }
}