<div class="container">

  <div class="header">
    <h1 class="header-title" [class.typing]="!typingComplete()">
      {{ headerTitle() }}
    </h1>
    <div class="back-button">
      <button class="btn" (click)="goBack()">
        <span>← Retour</span>
      </button>
    </div>
  </div>  

  <div class="card-editor">

    <div class="field-title">
      <label>Titre de l'histoire</label>
      <input 
        type="text" 
        [(ngModel)]="updateStory().title"
        [disabled]="loading()"
        placeholder="Exemple : Brain Operational Security Service et Boris la pancarte">
    </div>

    <div class="field-content">
      <label>Texte</label>
      <textarea 
        [(ngModel)]="updateStory().content"
        [disabled]="loading()"
        placeholder="Exemple : Observation des lumières indigo, niveau 12. Théorie : elles clignotent selon un code. Réalité : c'est juste Sulfuro qui fait de la soudure en bas, quelle ironie cette trappe encore ouverte...">
      </textarea>
    </div>

    <div class="card-footer">
      @if (canDelete()) {
        <div class="delete-button">
          <button class="btn delete-btn" (click)="deleteStory()" [disabled]="loading()">
            <span>{{ deleteButtonText() }}</span>
          </button>
        </div>
      }

      <div class="publish-button">
        <button class="btn" (click)="publishStory()" [disabled]="loading()">
          @if (loading()) {
            <span>Publication en cours...</span>
          } @else {
            <span>{{ publishButtonText() }}</span>
          }
        </button>
      </div>
    </div>

  </div>

</div>